<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.armavi.medi.time">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.armavi.medi.time.ui.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.armavi.medi.time.ui.AddEditAlarmActivity"
            android:windowSoftInputMode="stateHidden" />

        <service android:name="com.armavi.medi.time.service.LoadAlarmsService" />

        <receiver android:name="com.armavi.medi.time.service.LoadAlarmsReceiver" />
        <receiver android:name="com.armavi.medi.time.service.AlarmReceiver" />

        <activity
            android:name="com.armavi.medi.time.Add_edit"
            android:label="@string/title_activity_add_edit"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.armavi.medi.time.Notifier"
            android:label="@string/title_activity_notifier"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.armavi.medi.time.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>